#root, .App, .wrapper, html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.wrapper {
  padding: 50px 50px 100px 50px;
}
.previewContainer{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  border: 1px solid #eee;
}

.editor{
  flex: 1;
}
.preview {
  flex: 1;
}
iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.control-btns {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 10px 50px
}